<div class="jumbotron">
  <h2><%= gettext "Welcome to %{name}!", name: "Funnel" %></h2>
  <p class="lead">A little CI service for git hygeine.</p>
</div>
<div>
  <span>
    <%= link "See your repositories", to: repositories_path(@conn, :index) %>
  </span>
</div>
