# Erlang version
erlang_version=21.0.9

# Elixir version
elixir_version=1.6.6

# Always rebuild from scratch on every deploy?
always_rebuild=true

# A command to run right before compiling the app (after elixir, .etc)
# pre_compile="pwd"

# A command to run right after compiling the app
# post_compile="pwd"

# Set the path the app is run from
# runtime_path=/app
