<h2>Listing Repositories</h2>

<table class="table">
  <thead>
    <tr>
      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for repository <- @repositories do %>
    <tr>
      <td>
        <span><%= repository.git_hub_id %></span>
      </td>
      <td class="text-right">
        <span><%= link "Show", to: repositories_path(@conn, :show, repository), class: "btn btn-default btn-xs" %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
